<!DOCTYPE html>
<html>
<head>
  <title>Touchpoint</title>
  <meta name="viewport" content="width=device-width" />
</head>
<style>
  .ipad {
      width:195px;
      height:200px;
  }
  #img1 {
      background-image: url('/assets/glass2.png');
      -webkit-background-size: 195px 200px;
      height:200px;
      width:195px;
  }
  #img2 {
      background-image: url('/assets/glass2-retina.png');
      height:200px;
      width:195px;
      -webkit-background-size: 195px 200px;
  }
</style>
<body>
<p>HI RES image below</p>
<div class=ipad>
  <div id="img1"></div>
  <div id="img2"></div>
</div>
</body>
</html>