<!DOCTYPE html>
<html>
<head>
  <title>Touchpoint</title>
</head>
<body>
<p>HI RES image below</p>
<div class=ipad>
<%= image_tag HomeController::IMAGE_NAME + '_hires.png', :width =>  345, :height => 360 %>
</div>
</body>
</html>